python-dotenv
opencv-python
streamlit-option-menu
googletrans
python-dotenv
scipy
torch
tensorflow
keras
numpy
pandas
matplotlib
seaborn
plotly
Scikit-learn
TensorFlow
PyTorch
XGBoost
LightGBM
CatBoost
Scipy
NLTK
xgboost
lightgbm
opencv-python
nltk
SpeechRecognition
pyaudio
pdfplumber
python-docx
googletrans
streamlit
nltk
opencv-python
spacy
feature-engine
hyperopt
xgboost
h5py
warnings
statsmodels
